# Dependencies and caches
.DS_Store
Thumbs.db
node_modules/
dist/
.cache/

# Logs
*.log
npm-debug.log*

# Environment and secrets
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
